@import './partials/colors';
@import './partials/layout';
@import './partials/modals';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, nav{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  color: $white;
  font-family: 'Roboto', 'Poppins', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  @media(max-width: 1080px) {
    font-size: 93.75%;
  }
  @media(max-width: 768px) {
    font-size: 87.5%;
  }
}

a:hover {
  filter: brightness(.9);
  transition: .4s;
}

.swiper-pagination{
  bottom: 3rem!important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
  background: $red!important;
  opacity: .5;
}
.swiper-pagination-bullet-active{
  background: $red!important;
}
