@import "./_hero-slide";
@import "./_top-product-card";
@import "./_hot-product-card";
@import "./_header-menus";
@import "./_burger";
@import "./_cart-display";
@import "./_side-categories-menu";

// body > header {
//   // height: 8.15rem;
// }

body > header,
body > main {
  width: 100%;
  > section {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
  }
}

body > footer {
  background: $red-dark;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding: 2rem 2rem 1rem;
  background: $black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  .menu {
    position: fixed;
    top: 1.675rem;
    left: 21.4rem;
    z-index: 9999;
  }
  .logo {
    max-width: 150px;
    margin-left: 4rem;
    img {
      object-fit: cover;
    }
  }
  .search {
    position: relative;
    max-width: 600px;
    min-width: 400px;
    margin: 0 4rem;
    input {
      width: 100%;
      padding: 0.75rem 1.5rem;
      background: $white;
      border-radius: 3rem;
      border: 0;
      font-size: 1rem;
      &:focus {
        outline: 0;
      }
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      display: block;
      right: 0.5rem;
      bottom: 0.65rem;
    }
  }
  nav {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    li a {
      color: $white;
    }
    li + li {
      margin-left: 1rem;
    }
  }

  .auth-options {
    margin-left: auto;
    display: flex;
    align-items: center;

    img {
      margin-left: 1rem;
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  .cart-wrapper {
    position: relative;
    margin-left: 2rem;
    .cart {
      width: 2.25rem;
      height: 2.25rem;
      display: block;
      filter: invert(100%);
    }
    .items-on-cart {
      position: absolute;
      top: -5px;
      right: -5px;
      background: $red;
      color: $white;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.1rem 0.35rem;
      border-radius: 100%;
    }
    &:hover {
      filter: brightness(1.15);
    }
  }
}

.categories-header-menu ul.header-categories p {
  color: $red;
  font-weight: bold;
}

.header-bottom {
  position: relative;
  // background-color: #2e2e2e;
  background-color: $black;
  padding: 0 3rem;
  border-bottom: 1px solid #000;
  margin-top: 6rem;
  > nav {
    display: flex;
    align-items: center;
    > li {
      padding: 0.5rem;
      & + li {
        margin-left: 2rem;
      }
      &.toggle-categories-menu:hover {
        .categories-header-menu {
          display: flex;
        }
      }
    }
    > li a {
      font-family: "Poppins", "Open Sans", "Roboto", sans-serif;
      color: $white;
      transition: 0.2s;
      &:hover {
        color: $red-dark;
      }
    }
  }
}

.hero-slider {
  position: relative;
  background: $black;
  min-height: calc(75vh - 8.15rem);
  padding: 0;
  // margin-top: 8.025rem;
  .swiper {
    width: 100%;
    min-height: calc(75vh - 9.2rem);
    padding: 2rem 3rem;
    .swiper-slide {
      img {
        max-width: 600px;
        object-fit: cover;
      }
    }
  }
}

.selected-products {
  padding: 7rem 2rem;
  background: $blue;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  // .swiper {
  //   overflow: visible !important;
  //   width: 100%;
  // }

  .product-card {
    border: 2px dashed rgba(238, 238, 238, 0.234);
    height: 20rem;
    border-radius: 1rem;
  }
}

.categories {
  position: relative;
  padding: 4rem;
  background: $blue;
  .swiper-pagination-categories {
    text-align: center;
  }

  .arrow-left,
  .arrow-right {
    bottom: 3rem;
    top: auto;
  }
  .swiper-slide {
    padding: 0 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      display: block;
      // background: $red;
      width: 200px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 1.5em;
      &.circle {
        border-radius: 100%;
      }

      img {
        object-fit: contain;
        transform: translate3d(-1px, -1px, 0);
        width: 100%;
        height: 100%;
        padding: 0.5rem;
      }
    }
    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 1.15rem;
      color: $white;
    }
  }
}

.sale-items {
  padding: 2rem 4rem 4rem;
  position: relative;
  background: $blue;
  display: flex;
  justify-content: space-between;
  .swiper-pagination {
    bottom: 0rem !important;
    z-index: 3;
    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      background: $blue !important;
      width: 1.25rem !important;
      height: 1.25rem !important;
      border: 3px solid $red;
    }
    .swiper-pagination-bullet-active {
      background: $blue !important;
      width: 1.35rem !important;
      height: 1.35rem !important;
      border: 0.45rem solid $red;
      transform: translate3d(0, 0.035rem, 0);
    }
  }
}

.two-empty-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 6rem 6rem;
  background: $blue;
  .empty-card {
    width: calc(50% - 1rem);
    height: 20rem;
    border: 2px dashed #454545;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section.social-media {
  display: flex;
  padding: 4rem 10%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $blue;
  h2 {
    font-size: 2.5rem;
    span {
      color: $red;
      font-size: 2.5rem;
    }
  }
  ul.social-media {
    margin: 4rem 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: 1200px) {
      justify-content: center;
      li + li {
        margin-left: 2rem;
      }
    }
    li {
      margin-top: 2rem;
      a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        transition: 0.2s;
        position: relative;
        img.instagram-post {
          width: 14.5rem;
          height: 14.5rem;
          object-fit: cover;
          border-radius: 1rem;
        }
        img.instagram-icon {
          position: absolute;
          top: calc(50% - 1rem);
          left: calc(50% - 1rem);
          opacity: 0;
          width: 2rem;
          height: 2rem;
          filter: brightness(1.5);
          transition: 0.2s;
        }
        &:hover {
          filter: brightness(0.5);
          img.instagram-icon {
            opacity: 1;
          }
        }
      }
    }
  }
  .social-media-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;

    
    .left {
      width: 100%;
      p{
        text-align: center;
        width: 100%;
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
      p span {
        font-weight: bold;
      }
    }
    .register {
      position: relative;
      margin-left: 3rem;
      display: flex;
      // max-width: 1000px;
      width: 100%;
      // min-width: 300px;
      input {
        height: 3rem;
        width: 75%;
        border-radius: 2rem 0 0 2rem;
        border: none;
        padding: .5rem 0 .5rem 5rem;
        font-size: 1.1rem;
        &:focus {
          outline: none;
        }
      }
      
      img{
        position: absolute;
        top: .675rem;
        left: 1rem;
        opacity: .45;
      }
      
      a {
        height: 3rem;
        display: inline-block;
        width: 25%;
        text-align: center;
        padding: 1rem 0.25rem;
        background: $red-dark;
        border-radius: 0 2rem 2rem 0;
        color: $white;
      }
    }
  }
}

.hot-product {
  background: $white;
  color: $black;
  padding: 6rem 4rem;
  display: flex;
  align-items: center;
  > .left {
    width: calc(50% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .right {
    width: calc(50% - 1rem);
    header {
      display: flex;
      flex-wrap: wrap;
      h2 {
        width: 100%;
        text-align: left;
        margin-top: 1rem;
        font-weight: normal;
        font-family: "Poppins", "Roboto", sans-serif;
        font-size: 2rem;
      }
      span {
        padding: 0.25rem 1rem;
        background: $red;
        color: white;
        font-weight: bold;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        & + span {
          margin-left: 0.5rem;
          background: $black;
        }
      }
    }
    main {
      margin-top: 2rem;
      .sliced-price {
        text-decoration: line-through;
        color: #454545;
        font-weight: 500;
        font-size: 1.125rem;
      }
      .price {
        color: $red;
        font-size: 2.5rem;
        font-weight: 700;
      }
      .small-text {
        color: #454545;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
    footer {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      p {
        width: 100%;
      }
      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        min-width: 280px;
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          max-width: 280px;
          height: 4rem;
          color: $white;
          background: $red-dark;
          border-radius: 1rem;
          transition: 0.2s;
          font-weight: bold;

          &:first-child {
            img {
              filter: invert(100%);
            }
          }

          img,
          svg {
            margin-right: 1rem;
          }

          svg path {
            stroke: $red-dark;
          }

          & + a {
            background: transparent;
            border: 1px solid $red-dark;
            color: $red-dark;
            margin-top: 1rem;
            &:hover {
              background-color: red;
              color: $white;
              filter: none;

              svg path {
                stroke: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.remaining-items {
  margin-top: 2rem;
  width: 100%;
  max-width: 240px;
  p {
    color: #454545;
    font-size: 1rem;
    span {
      font-weight: bold;
      color: $red;
    }
  }
  .progress-bar {
    height: 0.5rem;
    background-color: #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    .bar {
      height: 0.5rem;
      width: 35%;
      background: $red-dark;
    }
  }
}

.product-expiration {
  display: flex;
  align-items: center;
  max-width: 220px;
  strong {
    transform: translateY(-25%);
    font-size: 2rem;
    color: #454545;
    margin: 0 0.5rem;
  }
  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    span {
      padding: 0.5rem 0.75rem;
      font-size: 2rem;
      background-color: #cecece;
      color: #454545;
      border-radius: 0.5rem;
      & + span {
        margin-left: 0.5rem;
      }
    }
    p {
      font-family: "Poppins";
      font-size: 0.9rem;
      color: #777;
      font-weight: 500;
    }
  }
}

.brands {
  padding: 4rem 4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .methods {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 1rem;
    margin-bottom: 1rem;
    img {
      width: 3rem;
      height: 3rem;
      & + img {
        margin-left: 1rem;
      }
    }
  }
  > div {
    p {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .security {
    img {
      width: 8rem;
    }
  }
}

.links {
  padding: 4rem 4rem;
  display: flex;
  margin-top: 5rem;

  .community {
    width: 100%;
    margin-left: 0;
    h3 {
      width: 100%;
      height: 3rem;
      font-size: 1.75rem!important;
      img {
        margin-left: auto;
        filter: invert(100%);
        transition: 0.2s;
        transform: rotate(90deg);
        opacity: 0;
      }
    }

    .link-wrapper-a,
    .link-wrapper-b {
      display: none;

      &.visible {
        display: block;
      }
    }

    .link-a.open img,
    .link-b.open img {
      transform: rotate(0deg);
    }
  }

  .contact {
    margin-bottom: 5rem;
    h3 {
      font-size: 2.75rem;
    }
    .contact-method {
      margin-top: 1rem;
      display: flex;
      & + .contact-method {
        margin-top: 3rem;
      }
      img {
        width: 3rem;
        height: 3rem;
        background: #ccc;
        padding: 0.35rem;
        border-radius: 100%;
        margin-right: 0.75rem;
      }
      p {
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
  .community {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    
    & + .community{
      margin-left: 5rem;
    }
    h3 {
      width: 100%;
      font-size: 2.75rem;
      margin-bottom: 1rem;
    }
    a {
      padding-left: 0.5rem;
      display: inline-block;
      color: $white;
      width: 100%;
      font-size: 1.15rem;
      height: 2rem;
      & + a {
        margin-top: 1rem;
      }
    }
  }
}

.business-info{
  padding: 3rem 0;
  background: $red;
  width: 100%;
  // height: 15rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    line-height: 200%;
    font-family: 'Poppins';
    text-align: center;
  }

  .ecomm{
    margin-top: 3rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 3px solid #fff;
    padding: .175rem;
    border-radius: 100%;

    .circle{
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 100%;
      background: linear-gradient(to left,#fff 50%, transparent 50%);
      transform: rotate(45deg);
    }
  }
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: calc(50% - 1rem);
  display: block;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 100%;
  transition: 0.2s;
  // border: 2px solid $red;
  z-index: 3;
  filter: brightness(1.25);
  svg {
    height: 3rem;
    width: 3rem;
    path {
      stroke: $red;
    }
  }
  &:hover {
    background-color: $red;
    svg path {
      stroke: $white;
    }
  }
}

.arrow-left {
  left: 2rem;
  &::after {
    display: none;
  }
}

.arrow-right {
  right: 2rem;
  &::after {
    display: none;
  }
}

// PÁGINA DE PRODUTO
.navigation {
  width: 100%;
  padding: 0;
  color: $black;
  p {
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
    font-weight: bold;
    a {
      font-weight: normal;
      color: $black;
    }
    span.product-code {
      color: $red;
      font-weight: bold;
    }
  }
}

section.product {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  color: $black;
  justify-content: space-between;
}

.triangle {
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  width: 1.35rem;
  height: 1.35rem;
  display: block;
  background-color: #fff;
  margin-left: 0.5rem;
  transform: translateY(25%);
}

.product-images {
  width: calc(45% - 1rem);
  padding: 1rem;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span {
      color: $white;
      background: $red;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .icons {
      display: flex;
      align-items: center;
      a + a {
        margin-left: 1rem;
      }
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  main {
    margin-top: 3rem;
    width: 100%;
    .product-swiper {
      width: 100%;
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 1rem;
          padding: 0.25rem;
          object-fit: cover;
        }
      }
    }
  }
  footer {
    margin-top: 2rem;
    .swiper-thumbs {
      overflow: hidden;
      justify-content: flex-start !important;
      .swiper-slide {
        width: 100px !important;
        img {
          border: 1px solid #ccc;
          border-radius: 1rem;
          padding: 0.25rem;
          object-fit: cover;
        }
      }
    }
  }
}

.product-info {
  width: calc(55% - 1rem);
  display: flex;
  flex-wrap: wrap;
  > main,
  > aside {
    width: 50%;
  }
  > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    .product-timer {
      width: 100%;
      background-color: #f2f2f2;
      // height: 5rem;
      padding: 1rem 3rem;
      // margin-bottom: 1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        font-size: 1.5rem;
        max-width: 60%;
        color: $black;
      }
      .product-expiration {
        strong {
          color: $red;
          transform: translateY(-50%);
          font-size: 1.5rem !important;
        }
        > div {
          &:last-child {
            transform: translateX(-5px);
          }
          span,
          p {
            color: $red;
          }
          span {
            background: transparent;
            font-weight: bold;
            padding: 0;
            font-size: 1.75rem !important;
          }
          p {
            font-size: 0.9rem !important;
          }
        }
      }
    }
    > h2 {
      width: 100%;
      text-align: left;
      margin-top: 1rem;
      font-weight: normal;
      font-family: "Poppins", "Roboto", sans-serif;
      font-size: 2rem;
    }
    > p {
      margin-top: 0.5rem;
      color: #454545;
      font-size: 1rem;
      span {
        color: $black;
        & + span {
          color: green;
        }
      }
    }
  }
  > main {
    // margin-top: 1rem;
    .product-main-info {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // height: 100%;
      .price-info {
        margin: -3rem 0 3.5rem;
      }
      p.line-price {
        text-decoration: line-through;
        color: #454545;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
      }
      p.current-price {
        font-size: 3rem;
        color: $red;
        font-weight: bold;
      }
      > span,
      a {
        color: #454545;
        font-size: 1.1rem;
      }
      a {
        font-weight: bold;
        transition: 0.2s;
        &:hover {
          color: $black;
        }
      }
    }
  }
  > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    .buttons {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 0.5rem;
      a {
        height: 4rem;
        padding: 1.5rem 1rem;
        color: $white;
        background: $red-dark;
        border-radius: 1rem;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        img, svg {
          margin-right: 1.5rem;
        }

        img{
          filter: invert(100%);
        }

        svg path {
          stroke: $red-dark;
        }

        & + a {
          border: 1px solid $red-dark;
          background: transparent;
          color: $red;
          padding: 1.5rem 0.5rem;
          margin-top: 0.5rem;
          &:hover {
            background: $red-dark;
            color: $white;
            filter: brightness(1);

            svg path{
              stroke: #fff;
            }
          }
        }
      }
    }
    .fire {
      display: flex;
      align-items: center;
      p {
        margin-left: 0.5rem;
        font-size: 0.9rem !important;
        span {
          color: $red;
          font-weight: bold;
        }
      }
    }
  }
}

.product-form {
  margin: 1rem 0;
  .variant-input-group {
    margin-bottom: 1rem;
    span {
      font-size: 1rem !important;
    }
    label {
      padding: 0.75rem 1rem;
      background: #eee;
      transition: 0.2s;
      border: 2px solid transparent;
      border-radius: 0.5rem;
      &.active {
        background: rgb(2, 0, 36);
        background: radial-gradient(
          circle,
          rgba(2, 0, 36, 0) 0%,
          rgba(255, 6, 19, 0.159) 65%
        );
        border: 2px solid $red;
      }
    }
    input[type="radio"] {
      opacity: 0;
    }
  }
  .quantity {
    max-width: 9rem;
    position: relative;
    input {
      width: 9rem;
      height: 3rem;
      padding: 0.275rem 0 0.275rem 4.15rem;
      margin-top: 1rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
    }
    button {
      border-radius: 0.5rem;
      cursor: pointer;
      font-family: "Roboto";
      position: absolute;
      bottom: 0;
      width: 3rem;
      height: 3rem;
      font-weight: 900;
      border: 1px solid #ccc;
      background: rgb(255, 255, 255);
      font-size: 1rem;
      &.plus {
        right: 0;
      }
      &.minus {
        left: 0;
      }
    }
  }
  .shipping-info {
    .time {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0.75rem;
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
      }
      h5 {
        color: #454545;
        font-size: 1.125rem;
      }
    }
  }
}

p.shipping-info-text,
p.shipping-info-text span {
  font-size: 0.9rem !important;
  width: 100%;
}

p.shipping-info-text span {
  color: $red;
  font-weight: bold;
}

.product-description {
  margin-top: 3rem;
}

.product-description,
.product-info {
  color: $black;
  width: 100%;
  padding: 1rem 4rem;
  .toggle-product-description-visibility,
  .toggle-product-info-visibility {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: #eee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.5rem;
      font-weight: bold;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(90deg);
      transition: 0.2s;
    }
    &.open {
      img {
        transform: rotate(0deg);
      }
    }
  }
  .wrapper {
    display: none;
    padding: 1.5rem 3rem;
    &.visible {
      display: block;
    }
  }
}

.related-products {
  width: 100%;
  position: relative;
  padding: 2rem 4rem;
  .swiper {
    width: 100%;
    .swiper-slide {
      width: 340px;
      border: 1px solid #ccc;
      border-radius: 1rem;
    }
  }
  .swiper-related-pagination {
    margin-top: 1rem;
    text-align: center;
  }
}

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  padding: 4rem;
  .subscription-input {
    display: flex;
    width: 50%;
    input {
      height: 3rem;
      margin-right: 1rem;
      // max-width: 600px;
      width: 100%;
      font-size: 1.125rem;
      border-radius: 0.5rem;
      border: 1px solid #c6c6c6;
      padding-left: 1rem;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      padding: 0 2rem;
      background: $red;
      color: $white;
      border-radius: 0.5rem;
    }
  }
  .social-media {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    img {
      width: 2rem;
      height: 2rem;
      filter: invert(100%);
      margin-left: 1.5rem;
    }
  }
  p {
    width: 25%;
  }
}

// RESPONSIVIDADE
@media (min-width: 1440px) {
  .sale-items {
    padding: 2rem 5% 4rem;
  }
  .two-empty-cards {
    padding: 4rem 5% 6rem;
  }
  .hot-product {
    padding: 4rem 5%;
  }
  .related-products .arrow-right {
    right: 1rem;
  }
  .related-products .arrow-left {
    left: 1rem;
  }
  section.product {
    .product-info {
      header {
        margin-bottom: 4.5rem;
      }
    }
  }
}

@media (max-width: 1400px) {
  .arrow-left {
    left: 1rem !important;
  }
  .arrow-right {
    right: 1rem !important;
  }

  .hot-product {
    padding: 4rem 0;
  }
}

@media (max-width: 1080px) {
  body > footer {
    padding: 4rem 0 0;
  }
  .header-top {
    justify-content: center;
    flex-wrap: wrap;
    height: 9rem;
    nav {
      display: none;
    }
    .search{
      padding: .5rem 0 0 0 ;
      width: 100%;
      order: 9;
    }
    .menu {
      left: 1rem;
    }

    .auth-options {
      p {
        display: none;
      }
    }
  }
  .hero-slider {
    .swiper-slide {
      padding-bottom: 3rem;
      .slide {
        .left {
          :not(.buttons) {
            display: none;
          }
        }
      }
    }
    .slide-buttons {
      flex-direction: column;
      a {
        width: 100%;
      }
    }
    .arrow-left {
      left: 0rem;
    }
    .arrow-right {
      right: 0rem;
    }
  }
  .header-bottom {
    nav {
      > li {
        &.toggle-categories-menu {
          padding: 1rem 1rem;
        }
        // &:not(.toggle-categories-menu) {
        //   display: none;
        // }
      }
    }
  }
  .selected-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    .product-card {
      width: 100%;
      & + .product-card {
        margin-top: 7rem;
      }
    }
  }
  .categories {
    padding: 4rem 0 4rem 0.5rem;
    .swiper-slide {
      // max-width: 130px;
      .circle {
        width: 120px;
        height: 120px;
      }
    }
  }
  .arrow-left {
    left: 0.5rem;
  }
  .arrow-right {
    right: 0.5rem;
  }
  .sale-items {
    padding: 4rem 1.5rem;
    .arrow-left {
      left: 0.5rem !important;
    }
    .arrow-right {
      right: 0.5rem !important;
    }
    .swiper-slide {
      padding: 1rem;
    }
  }
  .two-empty-cards {
    padding: 4rem 2rem;
    .empty-card {
      width: 100%;
      & + .empty-card {
        margin-top: 2rem;
      }
    }
  }
  .hot-product {
    padding: 4rem 2rem;
    flex-direction: column;
    .left,
    .right {
      width: 100%;
    }
    .left {
      margin-bottom: 1rem;
    }

    .right footer {
      p {
        text-align: center;
        margin-bottom: 0.25rem;
      }
      .left,
      .right {
        max-width: 100%;
        width: 100%;
      }
      .left {
        padding: 0;
      }
      .right {
        a {
          max-width: 100%;
        }
      }
    }
  }
  .remaining-items,
  .product-expiration {
    min-width: 100%;
    .progress-bar {
      width: 100%;
    }
  }
  .product-expiration {
    align-items: center;
    justify-content: center;
    > div span {
      font-size: 2rem;
    }
  }

  section.social-media .social-media-footer .register {
    flex-direction: row;
    input {
      width: 70%;
    }

    a {
      width: 30%;
    }
  }
  section.social-media {
    ul.social-media {
      width: 100%;
      h2,
      span {
        font-size: 1.5rem;
      }
      li {
        a img.instagram-post {
          width: 13.5rem;
          height: 13.5rem;
        }
      }
    }
    .social-media-footer {
      flex-direction: column;
      .left {
        width: 100%;
        p {
          text-align: center;
          margin-bottom: 0.5rem;
        }
      }
      .register {
        position: relative;
        min-width: 600px;
        width: 100%;
        margin: 0 auto;

        a {
          height: 3.05rem;
          margin-left: 0;
        }
      }
    }
  }
  .brands,
  .links {
    padding: 4rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    .community {
      margin-left: 0;
      h3 {
        font-size: 2.25rem;
        // align-items: center;
        img {
          opacity: 1;
        }
      }
      a {
        font-size: 1.25rem;
      }
    }
  }
  section.product {
    margin-top: 0;
    flex-direction: column;
    padding: 1rem 2rem;
    header {
      margin-bottom: 0rem;
    }
    .product-images,
    .product-info {
      width: 100%;
    }
    .product-images {
      main {
        margin-top: 1rem;
      }
      .slide-preview {
        .swiper-slide {
          width: 60px !important;
        }
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
    .product-info {
      padding: 1rem 0;
      // flex-direction: column;
      .product-timer {
        padding: 1.5rem 1rem 1.5rem 2rem;
        flex-direction: row;
        h4 {
          // font-weight: normal;
          // opacity: .8;
          width: 80%;
          font-size: 1.125rem;
        }
        .product-expiration {
          transform: scale(0.75);
          strong {
            transform: translateY(-10%);
          }
          .seconds {
            margin-left: 0.25rem;
          }
          p {
            display: none;
          }
        }
      }
      > main,
      > aside {
        margin-top: 3rem;
        width: 100%;
      }
      aside {
        margin: 0;
        padding: 0;
      }
      main .product-main-info {
        .price-info {
          margin: 0;
        }
        form {
          margin-top: 3rem;
        }
      }
    }
  }
  .product-info > header .product-timer {
    .product-expiration {
      min-width: 0;
    }
    h4 {
      max-width: 70%;
      font-size: 1.25rem;
    }
  }
  .product-description,
  .product-info {
    padding: 1rem 2rem;
  }
  .related-products {
    padding: 4rem 2rem;

    .arrow-left {
      left: -0.05rem !important;
    }
    .arrow-right {
      right: -0.05rem !important;
    }
  }

  .subscription {
    flex-direction: column;
    align-items: center;
    p {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .social-media {
      margin-top: 2rem;
      justify-content: center;
      a img {
        margin-left: 0;
      }

      a + a {
        margin-left: 1rem;
      }
    }

    .subscription-input {
      flex-direction: column;
      width: 100%;

      a {
        margin-top: 0.5rem;
      }
    }
  }
  .navigation{
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  .product-info > header .product-timer {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header-bottom * {
    display: none;

    &:not(.toggle-categories-menu) {
      display: none;
    }
  }
  section.social-media {
    padding: 4rem 2rem;
    ul.social-media {
      justify-content: space-evenly;
      li a img.instagram-post {
        width: 15rem;
        height: 15rem;
      }
    }
  }

  section.social-media .social-media-footer .register {
    flex-direction: column;
    min-width: 300px;
    input {
      width: 100%;
      border-radius: 3rem;
    }

    a {
      margin-top: 0.75rem;
      width: 100%;
      border-radius: 3rem;
    }
  }
}

@media (max-width: 520px) {
  section.social-media ul.social-media li a img.instagram-post {
    width: 11rem;
    height: 11rem;
  }

  .sale-items,
  .related-products {
    // padding: 4rem 1rem;
    .arrow-left {
      display: none;
    }
    .arrow-right {
      display: none;
    }
  }
}

@media (max-width: 405px) {
  section.social-media ul.social-media li a img.instagram-post {
    width: 9rem;
    height: 9rem;
  }
}

@media (max-width: 340px) {
  section.product {
    .product-images {
      .slide-preview {
        .swiper-slide {
          width: 50px !important;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  section.social-media ul.social-media li a img.instagram-post {
    width: 8rem;
    height: 8rem;
  }
}
