.side-categories-menu-toggle{
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 7.5rem;
  background: $red-dark;
  // border-radius: .5rem;
  width: 100%;
  color: $white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content:center;

  > img{
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    filter: invert(100%);
    transform: rotate(-90deg) scale(1.25);
  }

  &:hover{
    .side-categories-menu{
      display: flex;
    }
  }

  .side-categories-menu{
    background: $white;
    position: absolute;
    top: 100%;
    left: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    height: 400px;
    a{
      color: $black;
      display: flex;
      align-items: center; 
      font-size: 1.25rem;
      width: 100%;

      &:hover{
        background: rgb(255, 252, 252);
        color: $black;
      }

      img{
        margin-left: 1rem;
        transform: rotate(-90deg) scale(1.25);
      }
    }

    .dropdown{
      color: $red;

      .sub-categories-menu{
        box-shadow: none;
      }
      &:hover{
        > .sub-categories-menu{
          border-left: 1px solid #ccc;
          left: 100%;
          display: flex;
        }
      }
    }
  }
}