.selected-products .product-card{
  max-width: 400px; 
  &:hover{
    cursor: pointer;
  }
  header{
    display: flex;
    // border: 2px dashed #454545;
    z-index: 1;
    border-radius: 1rem;
    height:12rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    span{
      margin-top: 7rem;
    }
  }

  main{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 1rem;

    .left, .right{
      display: flex;
      flex-direction: column;

      span{
        color: lightgray;
        font-size: .8rem;

        &.price{
          color: $red;
          font-weight: bold;
          font-size: 1.75rem;
          line-height: 2rem;
        }
      }
    }
    .right{
      margin-top: 0.5rem;
    }

    .left{
      h4{
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      span{
        margin-top: .5rem;

        & + span{
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 1080px){

}